body{
background-image: linear-gradient(to bottom,rgb(10, 218, 245), blue);
}



.love{
   
    width: 0px;
    height: ;
    background-color: palegreen;
    background-repeat: no-repeat;
    width: auto;
    height: 300px;
    
}

#bloc{
    display:flex;
    flex-direction: row;
    width: auto;
    height: 300px;
    
}

    
