body {
  background-image: url(../learning-konexio-project/background.jpg);
  background-repeat: no-repeat;

  margin-left: 0%;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.bg-dark {
  background-color: #000c1787!important;
}
/*
L'id du carousel, la div tout autour avec les classes
'carousel slide'
*/
.carousel-inner{
  position: relative;
  
  border-radius: 50px;
 
  
  margin-left: 2%;
  margin-right: 2%;
  padding-right: 3%;

}






footer {
  margin-bottom: 0%;
  width: 100%;
  background-size: cover;
  display: flex;
  color: whitesmoke;
  size: 9px;
  height: 35%;
  width: 100%;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #000c1798;
}

#logo{
  width:30%;
  height: 30%;
  border-radius: 50%;
}


#logofooter {
  width: 50%;
  
  border-radius: 70%;
  bottom: 0%;

}

.img{
  position: relative;
  border-radius: 50px;
  margin-left: 2%;
  margin-right: 2%;

  vertical-align:inherit;


}

a{
  color:goldenrod;
  margin: 4%;
  display: flex;
}


p{
  color: rgb(202, 197, 197);
  margin: 5%;
  
 
}

