body {
  background-image: url(../learning-konexio-project/background.jpg);
  background-repeat: no-repeat;

  margin-left: 0%;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.bg-dark {
  background-color: #000c1787!important;
}
/*
L'id du carousel, la div tout autour avec les classes
'carousel slide'
*/
#carouselExampleControls{
  position: relative;
}

/*
L'id de notre formulaire
*/
#searchTerm{
  width: 100%;         /* Pour qu'il prenne toute la largeur du carousel */
  z-index: 9;          /* Pour que le formulaire soit "au dessus" de l'image  */
  /*
  Avec position absolute, l'object est placé par rapport à
  son ancêtre le plus proche qui a "position: relative".
  Ici, c'est le carousel. Du coup on lui dit de se metter
  à 50% du haut du carousel et a 20% de la gauche.
  ¿Por qué 20?
  */
  position: absolute;
  top: 80%;
  left: 20%;
}

#searchTerm input{
  /*
  Parce que le width de l'input est 60% est qu'on veut
  la même marge des deux côtés, donc il reste 40% / 2
  */
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

/*
Pour éviter la bordure quand l'input est sélectionné, pas
obligatoire
*/
#searchTerm input:focus{
  outline: none;
}


footer {
  margin-bottom: 0%;
  width: 100%;
  background-size: cover;
  display: flex;
  color: whitesmoke;
  size: 9px;
  height: 35%;
  width: 100%;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

#logo{
  width:30%;
  height: 30%;
  border-radius: 50%;
}


#logofooter {
  width: 50%;
  
  border-radius: 70%;
  bottom: 0%;
}

.img {
  object-fit: cover;
   width: 100%;
   height: 100%;
   justify-content: space-around;
   flex-direction: column;
   margin-block-start: 0%;
   position: absolute;
   float: left;
   

}
a{
  color:goldenrod;
  margin: 4%;
}


p{
  color: rgb(202, 197, 197);
  margin: 5%;
 
}
