body{
  font-style:normal;
  background-color: white;
  color:black;
 font-size: 1rem;
 font-family: 'Source Sans Pro', Arial, sans-serif;

 }

/* pour modifier a couleur les tonalité d'une image*/
.poster {
  background-color:linear-gradient(grey, #333);
  
}

.bloc1 {
  display: flex;
  
 
 }

 .bloc3{
   color: black;
   font-size: 5%;
 }


/* css de la section bloc1*/

.genres{
  display: flex;
  
}
.topBilledCast{

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden ;
  padding-top: 0.5%;
  padding-bottom:  2%;
  align-content: space-between;

}

h5{
 margin-right: 1%;
 padding-top: 3rem;

}

h6{
  font-size: 14px;
  padding: 0.1rem;
}

.red{

  display: flex;
  color:black;
  padding-top: 0.3rem;
  padding-bottom: 3rem;
}

p{
  font-size: 16px;
  padding-bottom: 1.5rem;
  font-variant-caps: small-caps;
  font-size: bold;
}
.film2{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.productionRow{
  display: flex;
  align-items: baseline;
flex-direction: row;

}

 /* css de la div poster*/

 #images{
   display: flex;
   background-color:linear-gradient(grey, #333);

  padding-right: 10%;

 }
 #pictures{
width: 200px;
height: 350px;
border-radius: 10%;
padding:4%;

 }

 .informations{
  color: white;
  padding: 1% ;
}

.blt, .bt1{
  
  display: flex;
  align-content:row ;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden ;
  
}
/**/

.bfw1{
  
  display: flex;
  align-content:row ;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden ;

  
}

.blt{
  padding:2%;
}
.ytp-cued-thumbnail-overlay-image{

  border-radius: 2rem;
}

iframe{
  
  border: 2px solid black;
  margin-left: 0.4%;
  flex-direction: row;
  border-radius: 1%;
  justify-content: space-between;
}

.recom{

 display: flex;
 
  padding-top: 2%;
}

/* CSS BOUTONS DU SITE */

.BMP{

  margin-right: 2%;
 
 
}

.btn {
  margin: 10px auto;
  border: none;
  padding: 5px 44px;
  font-size: 14px;
  position: relative;
}

.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}

.btn:hover::before {
  background: black;
  width: 100%;
}

.btn.rounded {
  border-radius: 50px;
}

.btn.rounded .text-green {
  color: #00F0B5;
  mix-blend-mode: difference;
  font-size: 18px;

}

.btn.rounded::before {
  border-radius: 50px;
  width: 50%;
  background: #00F0B5;
  margin-left: 2%;
}

.btn.rounded:hover::before {
  background: #00F0B5;
  width: 100%;
}
/*ENLEVER LES TEXTES DECORATIONS*/
a:link,a:hover,a:active,a:visited{
  text-decoration:none;
  color: white;
}

/**SUPERPOSER DEUX DIV*/

.enfant2{
  background: white;
  max-width: 20%;
  max-height: 300%;
  color:grey;
  font-size: 28px;
  box-shadow: -10px 0px 3px 0px rgb(225, 220, 220); 
  background-color:white;
  border: 2px solid rgb(233, 228, 228);
  box-shadow: 0 0 5px 5px rgb(233, 228, 228);
  border-radius: 10px;
}

#red{
width: 5rem;

}

.recommandations{

 background-color:  white;
 color: white;
 border-radius: 2%;
 padding:3rem;
 box-shadow: -10px 0px 3px 0px rgb(225, 220, 220); 
 background-image: url("../learning-konexio-project/Bthw8l\ \(1\).jpg");
 background-color: rgb(38, 38, 77);
 border: 2px solid rgb(233, 228, 228);
 box-shadow: 0 0 5px 5px rgb(233, 228, 228);
 border-radius: 10px;

 
 }

 .cotegauche1{
  box-shadow: -10px 0px 3px 0px rgb(225, 220, 220); 
  background-color:white;
  border: 2px solid rgb(233, 228, 228);
  box-shadow: 0 0 5px 5px rgb(233, 228, 228);
  border-radius: 10px;
 }
 .cotegauche2{
  box-shadow: -10px 0px 3px 0px rgb(225, 220, 220); 
  background-color: rgb(38, 38, 77);
  border: 2px solid rgb(233, 228, 228);
  box-shadow: 0 0 5px 5px rgb(233, 228, 228);
  border-radius: 10px;
 }

 .cotegauche3{
  box-shadow: -10px 0px 3px 0px rgb(225, 220, 220); 
  background-color:white;
  border: 2px solid rgb(233, 228, 228);
  box-shadow: 0 0 5px 5px rgb(233, 228, 228);
  border-radius: 10px;
 }

.container{
 
  background-color: white;
  padding:3rem;
}
.enfant2{
  color:white;
  padding-top: 4.5%;
  
 };

 
footer{
  padding-top: 10rem;

};

