body{
    background-image:url(../movietest/background.jpg);
    
    position: absolute;
    margin-left: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

/*
L'id du carousel, la div tout autour avec les classes
'carousel slide'
*/
#carouselExampleControls{
    position: relative;
}

/*
L'id de notre formulaire
*/
#searchTerm{
    width: 100%;         /* Pour qu'il prenne toute la largeur du carousel */
    z-index: 9;          /* Pour que le formulaire soit "au dessus" de l'image  */
    /*
    Avec position absolute, l'object est placé par rapport à
    son ancêtre le plus proche qui a "position: relative".
    Ici, c'est le carousel. Du coup on lui dit de se metter
    à 50% du haut du carousel et a 20% de la gauche.
    ¿Por qué 20?
    */
    position: absolute;
    top: 70%;
    
    left: 20%;
}

#searchTerm input{
    /*
    Parce que le width de l'input est 60% est qu'on veut
    la même marge des deux côtés, donc il reste 40% / 2
    */
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/*
Pour éviter la bordure quand l'input est sélectionné, pas
obligatoire
*/
#searchTerm input:focus{
    outline: none;
}

  
  
  .btn {
      margin: 10px auto;
      border: none;
      padding: 5px 44px;
      font-size: 14px;
      position: relative;
  }
  
  .btn::before {
      transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      content: "";
      width: 50%;
      height: 100%;
      background: black;
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .btn .btn-text {
      color: white;
      mix-blend-mode: difference;
  }
  
  .btn:hover::before {
      background: black;
      width: 100%;
  }
  
  .btn.rounded {
      border-radius: 50px;
  }
  
  .btn.rounded .text-green{
      color:white;
      mix-blend-mode: difference;
  }
  
  .btn.rounded::before {
      border-radius: 50px;
      width: 50%;
      background: goldenrod;
  }
  
  .btn.rounded:hover::before {
      background: goldenrod;
      width: 100%;
  }
      
  h2{
      font-size: 46px;
      font-weight: 600;
      padding-top: 15% ;
      padding-bottom: 3%;
      color:goldenrod;
  }
  
  h3{
      font-size: 18px;
      padding-bottom: 5%;
      margin-left: 10%;
      color: goldenrod;
  }
  
  a, a:visited {
      color: whitesmoke;
      text-decoration: none;
  }
  
 h4{
   color: whitesmoke;
 }

  
  

  .bmp,.bfw, .blt, .bt, .bloc {
  float: left;
  width: auto;
  flex-direction: row;
  align-items: baseline;
  padding-top: 1%;
  padding-left: 3%;
  }
  
  .bloc {
padding-top: 1.5%;


  }
  .popular{
    width: 300px;
    height: 250px;
    box-shadow: wheat;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
  }
  .bmp1{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1%;
    padding-bottom: 2%;
    
     width: 100%;
      max-width: var(--maxPrimaryPageWidth);
      min-height: 355px;
      overflow-x: scroll;
      overflow-y:scroll;
  }

  .bmp1>div>img{
border-radius: 0.25em;
  }

  .bmp1, .bfw1, .blt1, .bt1{   
  
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1%;
    padding-bottom: 2%;
    
     width: 100%;
      max-width: var(--maxPrimaryPageWidth);
      min-height: 355px;
      overflow-x: scroll;
      overflow-y:scroll;
      
  }
  
  
     
  .w-100 {
    height: 525px;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 9%;
    padding-top: 0;
    padding-bottom: 9.25rem;
    color: #fff;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  

  .popular-img{
  
   width: 100%;
   height: 270px;
  }
  
  .popular-img img{
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
  
  .popular-text strong{
  
    color: black;
    margin: 0px;
    text-align: center;
  
  }
  .popular-text{
  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow:white;
    margin: 10px 20px;
    border-radius: 10px;
    overflow: hidden;
    width:200px;
  }
  
  .popular-text p{
  
    color: black;
    margin: 0%;
  
  }
  
  .join-today{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 1.25rem;
    background-repeat: no-repeat;
    background-image: url(../css/img/Bthw8l.jpg);
    background-size: 100%;
    background-color:purple ;
    align-items: baseline;
    color: rgb(255, 255, 255);
    text-align: left;
    background-color:#032541;

    }
  
    .join{
      padding-left: 5%;
      padding-right: 3%;
      
    }
  
    .today{
  padding-top: 8% ;
    }
  
  footer{
    background-color: black;
  }

  

  /* SCROLLER a modifier*/
  /* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(228, 226, 226); 
  border-radius: 10px;
}
/* Handle on hover ::-webkit-scrollbar-thumb:hover {
  background: #b30000;      */




.radius{

border-radius: 60%;
background-image: linear-gradient(to bottom,rgb(10, 171, 245), rgb(255, 230, 0));
font-family:cursive;
line-height:'Times New Roman', Times, serif ;

}


.love{
   
  width: 0px;
   background-color:#343a40;
  background-repeat: no-repeat;
  width: auto;
  height: 00px;
  scroll-behavior: unset;
  
}

#bloc{
  display:flex;
  flex-direction: row;
  width: auto;
  height: 300px;
  
}

iframe{
  height: 250px;
  border: 2px solid black;
  width: 100%;
  margin-left: 3%;
  flex-direction: row;
  justify-content: space-between;
}